# Dependencies
node_modules/
*/node_modules/

# Production
dist/
build/
output/

# Environment Variables
.env
.env.production
.env.development

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Angular
.angular/
.cache/

# OS
.DS_Store
Thumbs.db

# Misc
*.ref
